
.myButton {
	background-color:#44c767;
	border:3px solid #18ab29;
	display:inline-flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	padding:10px 10px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
