
Button {
	background-color:#B3B3B3;
	border:1px solid #6D6D6D;
	display:inline-flex;
	cursor:pointer;
	color: white;
	font-family:Arial MS;
	font-size:15px;
	padding:15px 15px;
	min-width: 20px;
	max-width: 20px;
	min-height: 20px;
	max-height: 20px;

	text-decoration:none;
}
.myButton:hover {
	background-color:#B3B3B3;
}
.myButton:active {
	position:relative;
	top:1px;
}
.unrevealed {
	color: #B3B3B3;
}
.revealed {
	color: black;

}
